/*****************/
/*** REMIRROR ****/
@import url('remirror-thame.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Peace';
    src: url('./../assets//fonts/Peace\ Sans\ Webfont.ttf');
}

@font-face {
    font-family: 'Passion';
    src: url('./../assets/fonts/PassionOne-Regular.ttf');
}

@font-face {
    font-family: 'PassionBold';
    src: url('./../assets/fonts/PassionOne-Bold.ttf');
}

@font-face {
    font-family: 'PassionBlack';
    src: url('./../assets/fonts/PassionOne-Black.ttf');
}

@font-face {
    font-family: 'Ibarra';
    src: url('./../assets/fonts/IbarraRealNova-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'IbarraItalic';
    src: url('./../assets/fonts/IbarraRealNova-Italic-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'NotoEmoji';
    src: url('./../assets/fonts/NotoColorEmoji-Regular.ttf');
}

@media (min-width: 640px) {
    .w-fixed {
        flex: 0 1 230px;
        min-width: 230px;
    }
}

@layer components {
    h1 {
        @apply text-4xl md:text-5xl lg:text-6xl
    }
    h2 {
        @apply text-2xl md:text-3xl lg:text-4xl
    }
    h3 {
        @apply text-xl lg:text-2xl
    }
    .h-title {
        @apply py-2 text-transparent max-w-fit bg-clip-text bg-gradient-to-r from-primary to-secondary font-extrabold [text-shadow:_0_0_0_rgb(155_155_155_/_50%)]
    }
    .h-subtitle {
        @apply text-transparent max-w-fit bg-clip-text bg-gradient-to-r from-secondary to-accent [text-shadow:_0_0_0_rgb(155_155_155_/_50%)]
    }
    h2.post-title {
        @apply text-lg text-transparent max-w-fit bg-clip-text bg-gradient-to-r from-primary to-secondary font-extrabold [text-shadow:_0_0_0_rgb(155_155_155_/_50%)]
    }
    h3.post-title {
        @apply text-lg text-transparent max-w-fit bg-clip-text bg-gradient-to-r from-secondary to-accent [text-shadow:_0_0_0_rgb(155_155_155_/_50%)]
    }
    .accent {
        @apply text-transparent bg-clip-text bg-gradient-to-r from-accent to-accent-content
    }
    .dot {
        display: inline-block;
        animation-name: bouncing;
        animation-duration: 700ms;
        animation-iteration-count: infinite;
        animation-timing-function: ease-out;
    }
    .dot:nth-child(2) {
        animation-delay: 125ms;
      }
    .dot:nth-child(3) {
        animation-delay: 250ms;
      }
      
    @keyframes bouncing {
        0% { transform: none; }
        50% { transform: translateY(-.25em); }
    }

    .stroke-white {
        -webkit-text-stroke-width: 0.5px;
        -webkit-text-stroke-color: #ffffff;
        -webkit-text-fill-color: #00000000;
    }

    .stroke-gray {
        -webkit-text-stroke-width: 0.5px;
        -webkit-text-stroke-color: #64748b;
        -webkit-text-fill-color: #00000000;
    }

    .stroke-black {
        -webkit-text-stroke-width: 0.5px;
        -webkit-text-stroke-color: #000;
        -webkit-text-fill-color: rgba(0, 0, 0, 0);
    }

    .text-shadow {
        text-shadow: 2px 2px rgba(0,0,0,0.25);
    }

    .image-preview:hover > .image-header {
        @apply top-0
    }

    .image-preview:hover > .image-footer {
        @apply bottom-0
    }

    .image-header, .image-footer {
        @apply text-primary font-sans
    }

    .image-header {
        @apply absolute w-full -top-32 transition-all duration-150 ease-linear p-4 bg-white bg-opacity-75 flex justify-around space-x-4 
    }

    .image-footer {
        @apply absolute w-full -bottom-32 transition-all duration-150 ease-linear p-4 bg-white bg-opacity-75 flex justify-around space-x-4
    }

    .user-mention {
        @apply font-semibold bg-primary bg-opacity-30 px-1 rounded-md max-w-fit
    }
    .user-mention::before {
        content: '@';
    }

    .scrollbar-only {
        @apply scrollbar-track-transparent scrollbar-thumb-primary
    }
    
    .border-reader { @apply border-[#3af] }
    .bg-reader { @apply bg-[#3af] }
    .text-reader { @apply text-[#3af] }

    .border-author { @apply border-[#c36] }
    .bg-author { @apply bg-[#c36] }
    .text-author { @apply text-[#c36] }
    
    .border-artist { @apply border-[#f6f] }
    .bg-artist { @apply bg-[#f6f] }
    .text-artist { @apply text-[#f6f] }
    
    .border-editor { @apply border-[#93f] }
    .bg-editor { @apply bg-[#93f] }
    .text-editor { @apply text-[#93f] }

    .border-agent { @apply border-[#fca] }
    .bg-agent { @apply bg-[#fca] }
    .text-agent { @apply text-[#fca] }
    
    .border-publisher { @apply border-[#f93] }
    .bg-publisher { @apply bg-[#f93] }
    .text-publisher { @apply text-[#f93] }
}

@layer utilities {
    .font-ibarra {
        font-family: 'Ibarra', serif
    }
    .font-ibarra-talic {
        font-family: 'IbarraItalic', serif
    }
    .emoji {
        font-family: 'NotoEmoji'
    }
    .font-feed {
        font-family: 'Ibarra', 'NotoEmoji', serif
    }
}