/*****************/
/*** REMIRROR ****/
@import url('remirror-thame.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Peace';
    src: url('./../assets//fonts/Peace\ Sans\ Webfont.ttf');
}

@font-face {
    font-family: 'Passion';
    src: url('./../assets/fonts/PassionOne-Regular.ttf');
}

@font-face {
    font-family: 'PassionBold';
    src: url('./../assets/fonts/PassionOne-Bold.ttf');
}

@font-face {
    font-family: 'PassionBlack';
    src: url('./../assets/fonts/PassionOne-Black.ttf');
}

@font-face {
    font-family: 'Ibarra';
    src: url('./../assets/fonts/IbarraRealNova-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'IbarraItalic';
    src: url('./../assets/fonts/IbarraRealNova-Italic-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'NotoEmoji';
    src: url('./../assets/fonts/NotoColorEmoji-Regular.ttf');
}

@media (min-width: 640px) {
    .w-fixed {
        flex: 0 1 230px;
        min-width: 230px;
    }
}

@layer components {
    h1 {
        @apply text-4xl md:text-5xl lg:text-6xl
    }
    h2 {
        @apply text-2xl md:text-3xl lg:text-4xl
    }
    h3 {
        @apply text-xl lg:text-2xl
    }
    .h-title {
        @apply py-2 text-transparent max-w-fit bg-clip-text bg-gradient-to-r from-primary to-secondary font-extrabold [text-shadow:_0_0_0_rgb(155_155_155_/_50%)]
    }
    .h-subtitle {
        @apply text-transparent max-w-fit bg-clip-text bg-gradient-to-r from-secondary to-accent [text-shadow:_0_0_0_rgb(155_155_155_/_50%)]
    }
    h2.post-title {
        @apply text-lg text-transparent max-w-fit bg-clip-text bg-gradient-to-r from-primary to-secondary font-extrabold [text-shadow:_0_0_0_rgb(155_155_155_/_50%)]
    }
    h3.post-title {
        @apply text-lg text-transparent max-w-fit bg-clip-text bg-gradient-to-r from-secondary to-accent [text-shadow:_0_0_0_rgb(155_155_155_/_50%)]
    }
    .accent {
        @apply text-transparent bg-clip-text bg-gradient-to-r from-accent to-accent-content
    }
    .stroke-white {
        -webkit-text-stroke-width: 0.5px;
        -webkit-text-stroke-color: #ffffff;
        -webkit-text-fill-color: #00000000;
    }

    .stroke-gray {
        -webkit-text-stroke-width: 0.5px;
        -webkit-text-stroke-color: #64748b;
        -webkit-text-fill-color: #00000000;
    }

    .stroke-black {
        -webkit-text-stroke-width: 0.5px;
        -webkit-text-stroke-color: #000;
        -webkit-text-fill-color: rgba(0, 0, 0, 0);
    }

    .text-shadow {
        text-shadow: 2px 2px rgba(0,0,0,0.25);
    }

    .grad-1 {
        background: -moz-linear-gradient(0deg, rgba(105, 225, 225, 1) 0%, rgba(188, 124, 7, 1) 100%);
        background: -webkit-linear-gradient(0deg, rgba(105, 225, 225, 1) 0%, rgba(188, 124, 7, 1) 100%);
        background: -o-linear-gradient(0deg, rgba(105, 225, 225, 1) 0%, rgba(188, 124, 7, 1) 100%);
        background: -ms-linear-gradient(0deg, rgba(105, 225, 225, 1) 0%, rgba(188, 124, 7, 1) 100%);
        background: linear-gradient(90deg, rgba(105, 225, 225, 1) 0%, rgba(188, 124, 7, 1) 100%);
    }

    .grad-2 {
        background: -moz-linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(218, 140, 140, 0) 49%, rgba(180, 21, 21, 1) 100%);
        background: -webkit-linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(218, 140, 140, 0) 49%, rgba(180, 21, 21, 1) 100%);
        background: -o-linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(218, 140, 140, 0) 49%, rgba(180, 21, 21, 1) 100%);
        background: -ms-linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(218, 140, 140, 0) 49%, rgba(180, 21, 21, 1) 100%);
        background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(218, 140, 140, 0) 49%, rgba(180, 21, 21, 1) 100%);
    }

    .grad-3 {
        background: -moz-radial-gradient(center, ellipse cover, rgba(7, 7, 7, 0) 0%, rgba(48, 11, 70, 1) 99%, rgba(49, 12, 71, 1) 100%);
        background: -webkit-radial-gradient(center, ellipse cover, rgba(7, 7, 7, 0) 0%, rgba(48, 11, 70, 1) 99%, rgba(49, 12, 71, 1) 100%);
        background: -o-radial-gradient(center, ellipse cover, rgba(7, 7, 7, 0) 0%, rgba(48, 11, 70, 1) 99%, rgba(49, 12, 71, 1) 100%);
        background: -ms-radial-gradient(center, ellipse cover, rgba(7, 7, 7, 0) 0%, rgba(48, 11, 70, 1) 99%, rgba(49, 12, 71, 1) 100%);
        background: radial-gradient(ellipse at center, rgba(7, 7, 7, 0) 0%, rgba(48, 11, 70, 1) 99%, rgba(49, 12, 71, 1) 100%);
    }

    .grad-4 {
        background: -moz-linear-gradient(269deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 1) 100%);
        background: -webkit-linear-gradient(269deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 1) 100%);
        background: -o-linear-gradient(269deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 1) 100%);
        background: -ms-linear-gradient(269deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 1) 100%);
        background: linear-gradient(181deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 1) 100%);
    }

    .alert-info {
        @apply bg-info text-info-content
    }

    .alert-success {
        @apply bg-success text-success-content
    }

    .alert-warning {
        @apply bg-warning text-warning-content
    }

    .accent-glow-sm {
        -webkit-box-shadow:0px 0px 4px 2px theme('colors.accent-focus');
        -moz-box-shadow: 0px 0px 4px 2px theme('colors.accent-focus');
        box-shadow: 0px 0px 4px 2px theme('colors.accent-focus');
        border: solid 1px theme('colors.accent-focus')
    }

    .accent-glow-md {
        -webkit-box-shadow:0px 0px 20px 10px theme('colors.accent-focus');
        -moz-box-shadow: 0px 0px 20px 10px theme('colors.accent-focus');
        box-shadow: 0px 0px 20px 10px theme('colors.accent-focus');
        border: solid 2px theme('colors.accent-focus')
    }

    .accent-glow-lg {
        -webkit-box-shadow:0px 0px 40px 10px theme('colors.accent-focus');
        -moz-box-shadow: 0px 0px 40px 10px theme('colors.accent-focus');
        box-shadow: 0px 0px 20px 10px theme('colors.accent-focus');
        border: solid 2px theme('colors.accent-focus')
    }

    .image-preview:hover > .image-header {
        @apply top-0
    }

    .image-preview:hover > .image-footer {
        @apply bottom-0
    }

    .image-header, .image-footer {
        @apply text-primary font-sans
    }

    .image-header {
        @apply absolute w-full -top-32 transition-all duration-150 ease-linear p-4 bg-white bg-opacity-75 flex justify-around space-x-4 
    }

    .image-footer {
        @apply absolute w-full -bottom-32 transition-all duration-150 ease-linear p-4 bg-white bg-opacity-75 flex justify-around space-x-4
    }

    .user-mention {
        @apply font-semibold bg-primary bg-opacity-30 px-1 rounded-md max-w-fit
    }
    .user-mention::before {
        content: '@';
    }

    .scrollbar-only {
        @apply scrollbar-track-transparent scrollbar-thumb-primary
    }

    .avatar.member::after, .avatar.agent::after {
        content: '\00a0';
        border-radius: 9999px;
        width: 15%;
        height: 15%;
        bottom: 7%;
        right: 7%;
        box-shadow: 0 0 0 2px hsl(var(--b1));
        @apply block z-10 absolute
    }
    .avatar.member::after {
        @apply bg-primary 
    }
    .avatar.agent::after {
        @apply bg-yellow-500 
    }

}

@layer utilities {
    .font-ibarra {
        font-family: 'Ibarra', serif
    }
    .font-ibarra-talic {
        font-family: 'IbarraItalic', serif
    }
    .emoji {
        font-family: 'NotoEmoji'
    }
    .font-feed {
        font-family: 'Ibarra', 'NotoEmoji', serif
    }
}